.loading_screen {
    position: absolute;
    z-index: 5;
    background-color: rgb(40, 40, 124);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    border: 2px dashed white;
    box-sizing: border-box;
    box-shadow: inset 0 0 5rem rgb(18, 18, 58);
}

.loading_screen .loading_screen_icon { width: 4rem; }
.loading_text_wrapper .loading_text { font-size: 1.5rem; }
