.pages {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.pages > div {
    position: relative;
    border: 1px solid black;
    
    background:
        repeating-linear-gradient(
            to bottom,
            transparent 0,
            transparent 17px,
            var(--olive) 17px,
            var(--olive) 18px
        ),
        #00000023;
    
    width: 100%;
    height: fit-content;
    min-height: 70dvh;
    aspect-ratio: 2/1;
    border-top: 3px double black;

    display: flex;
    flex-direction: column;
}

.pages > div > .newspaper_wrapper {
    position: relative;
}

.pages > div > .newspaper_data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2rem;
}

.pages > div > .newspaper_data > p {
    margin: 5px;
}

.pages > div .newspaper_me_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 100%;
}

.pages > div .newspaper_me {
    position: relative;
    display: flex;
    width: 80%;
    border: 1px solid black;
    transform: skew(-2deg);
    box-shadow: 5px 5px 0 var(--olive);
}

.pages > div .newspaper_me_info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .pages > div {
        aspect-ratio: auto;
    }

    .pages > div .newspaper_me {
        width: 100%;
    }
}